.header-title {
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.header-title:hover {
    color: white;
}

.header-description {
    color: white;
    font-size: 24px;
    text-align: center;
}

.header-logo:first-of-type {
    width: 52px;
    margin-right: 5px;
}

.header-logo:last-of-type {
    width: 40px;
}

.navbar {
    background-color: #f60;
    min-height: 5vh;
}

#navbarHeader {
    background-color: #f60;
}